
.footer{
    padding: 2.5rem 0;
    border-top: 1px solid #ccc;
    margin-top: auto;
}

.footerAligner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;

    button {
        background: rgba(0, 0, 0, 0);
        margin-left: 1.5rem;
        transition: .25s;
        font-size: 1rem;
        font-family: 'Merriweather';

        &:hover {
            color: #E6A500;
        }
        
        &:active{
            filter: brightness(.5);
          }
    }
}