.bigAligner {
    margin: 6.75rem 0rem 0rem 0rem;
}

.banner {
    text-align: center;
    height: 21rem;
    max-width: 1200px;
    margin-bottom: 12rem;

    button {
        margin-top: 2rem;
        padding: 1rem 2rem;
        border-radius: .2rem;
        background: #DC4E41;
        color: #f2f2f2;
        font-size: 1.2rem;
        transition: .25s;

        svg {
            margin-right: .6rem;
            fill: #f2f2f2;
        }

        &:hover{
            filter: brightness(.85);
        }

        &:active{
            filter: brightness(.5);
        }
    }
}