.bigAligner {
    margin: 6.75rem 0rem 0rem 0rem;
}

.banner {
    text-align: center;
    height: 30rem;
    max-width: 1200px;
    margin-bottom: 12rem;
    padding: 0 1rem;

    .formBox{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 28rem;
        padding-top: 1.6rem;

        input, textarea{
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            max-height: 5rem;
            padding: .8rem 0rem .8rem .8rem;
            margin-top: 1rem;
            background: #011728;
            outline: none;
            border-radius: .2rem;
            border: 2px solid #011728;
            transition: .15s;
            color: #ccc;
            font-family: 'Merriweather';
            
            &::placeholder{
                color: rgb(148, 148, 148);
            }

            &:focus{
                background: #011728;
                border: 2px solid #024375;
            }
        }

        button {
            width: 103%;
            background-color: #E6A500;
            margin-top: 1.6rem;
            margin-bottom: 5rem;
            padding: .8rem 1rem;
            color: #022640;
            font-size: 1rem;
            font-weight: 600;
            font-family: Merriweather;  
            border: 2px solid #E6A500;
      
            &:hover{
                color: #E6A500;
                background: rgba(0, 0, 0, 0)
            }

            &:disabled{
                background: #ccc;
                opacity: .5;
                cursor: not-allowed;
                border: 2px solid rgba(0,0,0,0);
                color: #1e1e1e;
            }
        }

        small {
            margin-top: .3rem;
            font-size: .8rem;
            font-family: 'Merriweather';
            color: #ff5555;
        }
    }
}

@media only screen and (max-width: 940px){
    .banner {
        text-align: center;
        height: 30rem;
        max-width: 1200px;
        margin-bottom: 10rem;

        h1{
            font-size: 3rem;
        }
    }
}

