.bigAligner {
    margin: 5rem auto;
    max-width: 1200px;
    text-align: center;

    h1{
        font-size: 3rem;
    }

    h2 {
        font-size: 1.25rem;
        font-weight: 400;
        max-width: 55vw;
        font-family: 'Merriweather';
        margin-top: 1rem;        
        margin-bottom: 3rem;                                                                      
    }

    button{
        padding: .8rem 1rem;
        margin-top: 1rem;
        border-radius: .1rem;
        background-color: #E6A500;
        color: #022640;
        font-weight: bold;
        border: 2px solid #E6A500;
        font-family: 'Merriweather';

        &:hover{
            color: #E6A500;
            background: rgba(0, 0, 0, 0)
        }

        &:disabled{
            cursor: not-allowed;
            opacity: .5;
            background-color: #ccc;
            color: #7e7e7e;
            border-color: #ccc;
        }
    }

    .barbersBox {
        padding: 0 .75rem;
        display: grid;
        gap: 1rem;
    }

    .barberItem{
        max-width: 20rem;
        background-color: #011728;
        margin-bottom: 1.6rem;
        padding: 2rem;
        border-radius: .2rem;
        font-size: 1.125rem;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .bigAligner {  
        
        h1{
            font-size: 2.5rem;
        }

        .barbersBox {
            padding: 0 .75rem;
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
        }

        .barberItem{
            width: 70%;
            max-width: 25rem;
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1250px){
    .barbersBox{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1251px) {
    .barbersBox {
        grid-template-columns: 1fr 1fr 1fr;
    }
}