::selection{
  background: #ccc;
  color: #022640;
}

* {
    color: #ccc;
    margin: 0 auto;
  }

  body {
    background-color: #022640;
  }

  button {
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.25s;
  }