@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Playfair+Display:wght@700&display=swap');

::selection{
  background: #ccc;
  color: #022640;
}

html {
  scroll-behavior: smooth;
}

* {
    color: #ccc;
    margin: 0 auto;
  }

  body {
    background-color: #022640;
  }

  h1 {
    font-size: 4rem;
    font-family: Playfair Display;
  }

  p, span {
    font-family: 'Merriweather';
    line-height: 2rem;
  }

  button {
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.25s;
  }