.menu{
    padding: 2.5rem 0;
    border-bottom: 1px solid #ccc;
}

.menuAligner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
}

.menuAligner  {
    .Logo {
        width: 9.25rem; 
        cursor: pointer;  
      }

    button {
      width: 7rem;
      background-color: #E6A500;
      margin-left: 1.3rem;
      padding: .7rem 1rem;
      color: #022640;
      font-size: .9rem;
      font-weight: 600;
      font-family: Merriweather;  
      border: 2px solid #E6A500;

      &:hover{
          color: #E6A500;
          background: rgba(0, 0, 0, 0)
      }

      &:active{
        filter: brightness(.5);
      }
    }
}

@media only screen and (max-width: 768px){
  .menuAligner  {
    .Logo {
        width: 8.25rem; 
        cursor: pointer;  
      }

      button {
        width: 6rem;
        background-color: #E6A500;
        margin-left: .8rem;
        padding: .7rem 1rem;
        color: #022640;
        font-size: .9rem;
        font-weight: 600;
        font-family: Merriweather;  
        border: 2px solid #E6A500;
      }
    }
}

@media only screen and (max-width: 500px){
  .menu{
    padding: 1.5rem 0;
    border-bottom: 1px solid #ccc;
}
  
  .menuAligner  {
      justify-content: space-around;

      .buttonsBox{
        display: flex;
        flex-direction: row;
      }

      button {
        width: auto;
        background-color: rgba(0, 0, 0, 0);
        margin-left: .5rem;
        padding: .25rem .25rem;
        color: #E6A500;
        font-size: .8rem;
        font-weight: 600;
        font-family: 'Merriweather';  
        border: none;
      }
    }
}
  
